<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lltech.organic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Organic">
        <activity android:name=".spalsh_screen">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        </activity>
        <activity android:name=".act_keton" />
        <activity android:name=".act_amide" />
        <activity android:name=".act_amine" />
        <activity android:name=".act_acidcloride" />
        <activity android:name=".act_carboxilic" />
        <activity android:name=".act_aldehid" />
        <activity android:name=".act_alcohol" />
        <activity android:name=".act_alhelide" />
        <activity android:name=".act_phenol" />
        <activity android:name=".act_anilene" />
        <activity android:name=".act_benzene" />
        <activity android:name=".act_alkyne" />
        <activity android:name=".act_alkene" />
        <activity android:name=".act_alkane" />
        <activity android:name=".MainActivity"/>

    </application>

</manifest>